<%# <html>
<head>
<title>acceuil</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
</head>
<body>
<a href="/" class="header-logo">
    <img src="/images/logo_b.png" alt="Learn enought logo">
    <div class="container">
    <div class="content">
<fieldset>
<h1 style="text-align: center;">Palindrome</h1>
<p style="text-align: center;"><em>Le voyage vers l'innovation</em></p>
</fieldset>
<fieldset>
<p style="text-align: center;"><a href="/ ">index</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about">about</a></p>

</fieldset>
</body>

</html> %>
<%# <html>
<head>
<title>acceuil</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
</head>
<body>
<a href="/" class="header-logo">
    <img src="/images/logo_b.png" alt="Learn enought logo">
    <div class="container">
    <div class="content">
<fieldset>
<h1 style="text-align: center;">Welcome people</h1>
<p style="text-align: center;"><em>Le voyage vers l'innovation</em></p>
</fieldset>
<fieldset>
<p style="text-align: center;"><a href="/">index</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/palindrome">palindrome</a></p>

</fieldset>
</body>

</html> %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Contact</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">TEST RUBY</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Acceuil</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/palindrome">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
          <!-- Contact-->
          <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Contact</h1>
                         <h1 class="mx-auto my-0 text-uppercase" style = "visibility: hidden;">Contact</h1>
                          <h1 class="mx-auto my-0 text-uppercase" style = "visibility: hidden;">Contact</h1>
                
                       <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Rue du cinquantenaire, Ngousso,Yaoudé</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">ivanheles0@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">N° de téléphone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+237 653 727 283</div>
                            </div>
                        </div>
                    </div>
                </div>
               
                          <h1 class="mx-auto my-0 text-uppercase" style = "visibility: hidden;">Contact</h1>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
                    </div>
                </div>
                


            </div>
        
        </header>
         <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Tous droits resevés 2022</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>